# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# IDE
.idea/
.vscode/

# Data - This directory is created by the script to store downloaded files
data/

# Output - For generated images, reports, etc.
output/